table {
    border-collapse: collapse;
    border: 1px solid black;
}
td, td, th {
    padding: 5px;
    border: 1px solid black;
}

a.edit {
    margin: 10px;
    /* background-color: limegreen;*/
}
a.delete {
    margin: 10px;
}

#roles {
    float:left;
}
#user_role {
    float: left;
    margin-left: 30px;
}

#editUser {
    float: left;
}
#editUser_roles {
    margin-left: 30px;
}

input.roles{
    border:3px coral;
}

.col {
    border: 1px solid coral;
}